= form_for [current_user, @course] do |f|
  -if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :grade
    = f.text_field :grade
  .field
    = f.label :level
    = f.text_field :level
  .field
    = f.label :credit
    = f.text_field :credit
  .actions
    = f.submit 'Save'
