= form_for [current_user, @course] do |f|
  -if @course.errors.any?
    #flash_error.flash
      %h3= "There were errors in the form:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :grade
    = f.select :grade, Course::GRADES
    = f.label :level
    = f.select :level, Course::LEVELS
    = f.label :credit
    = f.select :credit, Course::CREDITS
  .actions
    = f.submit 'Save'
