- title "GPA Calculator | Courses"
#user_status
  %h2 Course Summary
  %table
    %tr
      %td Lewis Mills GPA:
      %td #{@user.gpa.round(3)}
    %tr
      %td Standardized GPA:
      %td #{@user.standard_gpa.round(3)}
    %tr
      %td Honor Roll Status:
      %td #{@user.honor_status}
#courses_table
  %table
    %tr
      %th Name
      %th Grade
      %th Level
      %th Credit
      %th
      %th
    = render @user.courses
  = link_to 'New Course', new_user_course_path, :id => "new_course"
.clear
