%p#notice= notice

%p
  %b User:
  = @course.user_id
%p
  %b Name:
  = @course.name
%p
  %b Grade:
  = @course.grade
%p
  %b Level:
  = @course.level
%p
  %b Credit:
  = @course.credit

= link_to 'Edit', edit_user_course_path(current_user, @course)
\|
= link_to 'Back', user_courses_path
