!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title 
      = h(yield(:title) || "GPA Calculator")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
  %body{:class => page_class}
    #container
      %header
        %h1#logo GPA Calculator
        %nav.login
          = render "devise/menu/login_items"
      .clear
      #content
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => "flash"
        = yield
      %hr
      %footer Copyright &copy; 2011 Ross Foley.  All Rights Reserved.
