!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title 
      = h(yield(:title) || "GPA Calculator")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %meta{name: "viewport", content: "width=devise-width, initial-scale=1.0"}
  %body{:class => page_class}
    %header
      %nav.login
        = render "devise/menu/login_items"
    .clear
    .container#content
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}", :class => "flash alert #{alert_class(name)}"
      = yield
      %hr
      %footer Copyright &copy; 2012 Ross Foley.  All Rights Reserved.
